[project]
	description = Embedded JavaScript engine for C/C++
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergey Lyubka (cpq)
[access "refs/for/refs/*"]
	read = group user/Sergey Lyubka (cpq)
	push = group user/Sergey Lyubka (cpq)
	label-Code-Review = -2..+2 group user/Sergey Lyubka (cpq)
	label-Verified = -1..+1 group user/Sergey Lyubka (cpq)
	rebase = group user/Sergey Lyubka (cpq)
	removeReviewer = group user/Sergey Lyubka (cpq)
	submit = group user/Sergey Lyubka (cpq)
[access "refs/heads/*"]
	read = group user/Sergey Lyubka (cpq)
	create = group user/Sergey Lyubka (cpq)
	push = +force group user/Sergey Lyubka (cpq)
	pushMerge = group user/Sergey Lyubka (cpq)
[access "refs/tags/*"]
	push = +force group user/Sergey Lyubka (cpq)
	pushTag = group user/Sergey Lyubka (cpq)
	pushSignedTag = group user/Sergey Lyubka (cpq)
